body {
    background-color: #ee7405;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

table {
    display:flex;
    justify-content: center;
    table-layout:fixed;
}

#title-linha, #title-defe, #title-dese {
    font-size: 16.5px;
}

#linha {
    width: 95%;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: 50px;
}





.titulo {
    color: #ffffff;
    margin-left: 45%;
    justify-content: center;
}

#titulo {
    border: 1px solid #000000
}

form h1 {
    color: #003F87;
}
#title-sodal {
    font-size: 12px;
}

.info-sodal, .descontinu, .dese-linha-equip, .deti-box, .dese-linha {
    border:1px solid #000000;
    padding-top: -20px;  /* Adiciona altura à parte superior da borda */
    padding-bottom: -20px;  /* Adiciona altura à parte inferior da borda */
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 1500px;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.title-deti {
    font-size: 19px;
}

.input-sinete-nch {
    width:80%;
}

.sinete td {
    max-width: 50px;
    width: 20px;

}

.sinete td .input-sinete {
    max-width: 30px;
}


.dese-linha td {
    max-width: 300px;
    width: 40px;

}

.dese-linha td input {
    max-width: 130px;

}

.info-sodal td {
    max-width: 130px;
    width: 20px;

}


.title-eps {
    font-size: 15px;
}

#raiz, #nch-acai {
    border: 1px solid #000000
}

.input-sinete-nch {
    width: 90%;
}

.info-sodal td input {
    max-width: 100px;
}

#deti-box, .deti-box td {
    max-width: 100px; /* Reduzindo a largura */
    width: 15px;
}

#deti-box, .deti-box td input {
    max-width: 75px;
}

#title-sodal {
    font-size: 16px;
}

.eps-ieis {
    padding-bottom: 2px;
}

.btn {
    margin-right: auto;
    margin-left: auto;
    width: 10%;
    text-align: center;
    margin-top: 20px; /* Diminuído para evitar problemas em telas pequenas */
}

form input[type=submit] {
    width: 100%;
    padding: 12px;
    border: 0;
    border-radius: 10px;
    background-color: #003F87;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

form input[type=submit]:hover {
    background-color: #001f42;
}

@media (max-width: 768px) {
    .container {
        max-width: 100%; /* Reduz a largura para evitar cortes */
        margin-left: 670px;
        margin-right: 30px; /* Adiciona margem para visualizar as bordas */
    }
    body {
        padding: 30px; /* Adiciona espaçamento interno */
    }

    nav.titulo {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-right:24% ;
    }
}

@media (max-width: 320px) {
    .container {
        max-width: 100%;
        margin-left:  1030px;
        margin-right: 30px;  /* Aumenta a margem para melhor visualização */
    }
    nav.titulo {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-right:4% ;
    }
    body {
        padding: 30px; /* Mais espaçamento interno */
    }
}

